table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #bab6bb;
}

table th {
  background-color: #2b2730;
  color: white;
}
table tr {
  text-align: center;
  color: #342e3a;
}

#deletebutton {
  color: rgb(175, 0, 0);
}
